@import "helper/mixins";
@import "helper/placeholders";

$background-color: #1f2833;
$big-text-color: #66FCF1;
$small-text-color: #0B0C10;
$box-color: #C5C6C7;
$border-color: #45A29E;


body, html {
    background-color: $background-color;
    background-image: url('../images/dark-triangles.png');
    background-blend-mode: difference;
    font-size: 16px;
    width: 100%;
    height: 100%;
    margin-top: 0;
    padding-top: 0;
    margin-left: 0;
    padding-left: 0;
    position: relative;
    top: 0;
    left: 0;
    left: auto;
    z-index: 2;
}

.anchor{
  display: block;
  height: 5rem; /*same height as header*/
  margin-top: -5rem; /*same height as header*/
  visibility: hidden;
}

#aboutAnchor {
    height: 2rem;
}

#navBar {
    @extend %center;
    left: 0;
    top: 0;
    width: 100%;
    height: 3rem;
    font-weight: 900;
    opacity: 0.95;
    z-index: 1;
    min-width: 50%;
    margin-bottom: 0;
    padding-bottom: 0;
    ul {
        list-style-type: none;
        text-decoration: none;
        float:right;
        margin-right: 2rem;
        color: $big-text-color;
        .button {
            text-decoration: none;
            display: inline-block;
            margin-right: 0.5rem;
            padding: 0 0.5rem;
            font-size: 1.5rem;
            line-height: 1.25;
            cursor: pointer;
            font-family:'Source Sans Pro', sans-serif;
        }
    }
}

.selectedButton {
    background-color: $border-color;
    color: white;
}

.fullBar {
    background-color: $background-color;
    position: fixed;
}


.title {
    @extend %center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    margin-top: 0;
    padding-top:0;
    .name{
        width: 100%;
        @extend %center;
        font-family: 'Source Sans Pro', sans-serif;
        letter-spacing: 0;
        font-size: 8rem;
        color: $big-text-color;
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        position: relative;
        top: 10%;
        left:15%;
    }

    .sender{
        cursor: pointer;
        height: 75px;
        width: 75px;
        position: relative;
        border: none;
        top: 20rem;
        right: 0;
        text-decoration: none;
        transition: height .600s ease;
    }

    .arrow {
        width: 75px;
        max-width: 100%;
        height: auto;
    }
}

#about {
    @extend %center;
    height: 100%;
    width: 100%;
    #aboutMe {
        color: $big-text-color;
        font-size: 5rem;
        font-family: 'Source Sans Pro', sans-serif;
        margin-bottom: 0;
    }
    .elevator {
        margin-top: 0;
        padding-top: 0;
        position: relative;
        color: $border-color;
        font-size: 4rem;
        font-family: 'Source Sans Pro', sans-serif;
        line-height: 200%;
        left: 25%;
        width: 40%;
        font-size: 1rem;
        border-radius: 10%;
        padding: 5%;
    }
    .resume {
        @extend %center;
        width: 15%;
        height: 12%;
        border-radius: 5%;
        border: 0.1rem solid $box-color;
        padding-right: 1%;
        position: absolute;
        left: 42%;
        transform: scale(.925);
        transition: 0.2s background-color ease-out, .2s border-color ease-out, .2s transform ease-out;
        img {
            width: 125%;
        }
        h2 {
            position: relative;
            top: -100%;
            right: -19%;
            color: $border-color;
            font-family: 'Source Sans Pro', sans-serif;
        }

        &:hover {
            border-color: $big-text-color;
            background-color: $big-text-color;
            transform: scale(1);
        }
    }
}

#grid-container {
    //background-color: $grid-color;
    @extend %center;
    float: none;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    width: 50%;
    height: 200%;
    grid-template-areas: "education education"
                         "jhu experience"
                         "makeSense legendOf";
    -webkit-grid-column-gap: 3rem;
    -moz-grid-column-gap: 3rem;
    grid-column-gap: 3rem;
    grid-row-gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    color: $small-text-color;

    .jhu {
        grid-area: jhu;
        background-color: $box-color;
        border-radius: 5%;
        padding: 5%;
        @extend %borderhover;
        cursor: pointer;
    }

    .overlay {
        position: fixed; /* Sit on top of the page content */
        display: none; /* Hidden by default */
        width: 100%; /* Full width (cover the whole page) */
        height: 100%; /* Full height (cover the whole page) */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5); /* Black background with opacity */
        z-index: 3; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
    }

    .infoWindow {
        z-index: 4;
        @extend %center;
        display: none;
        position: fixed;
        height: 45%;
        width: 40%;
        background-color: white;
        top: 30%;
        left: 30%;
        border-radius: 10%;
    }

    #edu {
        grid-area: education;
        background-color: $box-color;
        border-radius: 5%;
        padding: 5%;
        @extend %borderhover;
        cursor: pointer;
    }

    #exp {
        grid-area: experience;
        background-color: $box-color;
        border-radius: 5%;
        padding: 5%;
        @extend %borderhover;
        cursor: pointer;
    }

    .makeSense {
        background-color: $box-color;
        grid-area: makeSense;
        border-radius: 5%;
        padding: 5%;
        @extend %borderhover;
        cursor: pointer;
    }

    .legendOf {
        background-color: $box-color;
        grid-area: legendOf;
        border-radius: 5%;
        padding: 5%;
        @extend %borderhover;
        cursor: pointer;
    }

    .medHacks {
        background-color: yellow;
        //grid-area: medHacks;
    }

}
