@import "helper/mixins";
@import "helper/placeholders";

$background-color: #1f2833;
$big-text-color: #66FCF1;
$small-text-color: #0B0C10;
$box-color: #C5C6C7;
$border-color: #45A29E;


body, html {
    background-color: $background-color;
    font-size: 16px;
    width: 100%;
    height: 100%;
    margin-top: 0;
    padding-top: 0;
    margin-left: 0;
    padding-left: 0;
    position: relative;
    top: 0;
    left: 0;
    left: auto;
}

.title {
    @extend %center;
    width: 100%;
    height: 100%;
    .name{
        font-family: 'Source Sans Pro', sans-serif;
        letter-spacing: 0;
        font-size: 10rem;
        color: $big-text-color;
        //background-color: green;
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        position: relative;
        top: 20%;;
        left: 0;
        left: auto;
    }

    .sender{
        height: 75px;
        width: 75px;
        position: relative;
        top: 375px;
        right: 0;
        .arrow {
            width: 75px;
            max-width: 100%;
            height: auto;
        }
    }
}

#grid-container {
    //background-color: $grid-color;
    @extend %center;
    float: none;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    width: 50%;
    height: 200%;
    grid-template-areas: "elevator education"
                         "jhu experience"
                         "makeSense legendOf";
    -webkit-grid-column-gap: 3rem;
    -moz-grid-column-gap: 3rem;
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    color: $small-text-color;


    .elevator {
        //@extend %center;
        font-size: 1rem;
        background-color: $box-color;
        grid-area: elevator;
        border-radius: 5%;
        padding: 5%;
        // border: 0.2rem solid $border-color;
    }

    .jhu {
        //@extend %center;
        grid-area: jhu;
        background-color: $box-color;
        border-radius: 5%;
        padding: 5%;

    }

    .overlay {
        position: fixed; /* Sit on top of the page content */
        display: none; /* Hidden by default */
        width: 100%; /* Full width (cover the whole page) */
        height: 100%; /* Full height (cover the whole page) */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5); /* Black background with opacity */
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
    }

    .infoWindow {
        z-index: 4;
        @extend %center;
        display: none;
        position: fixed;
        height: 45%;
        width: 40%;
        background-color: white;
        top: 30%;
        left: 30%;
        border-radius: 10%;
    }

    #edu {
        grid-area: education;
        background-color: $box-color;
        border-radius: 5%;
        padding: 5%;
    }

    #exp {
        grid-area: experience;
        background-color: $box-color;
        border-radius: 5%;
        padding: 5%;
    }

    .makeSense {
        background-color: $box-color;
        grid-area: makeSense;
        border-radius: 5%;
        padding: 5%;
    }

    .legendOf {
        background-color: $box-color;
        grid-area: legendOf;
        border-radius: 5%;
        padding: 5%;
    }

    .medHacks {
        background-color: yellow;
        //grid-area: medHacks;
    }

}
