.title, .title .name, #about, #about .resume, #stuff, #grid-container, #grid-container .infoWindow, #contactMe .contactTitle, #gform {
  text-align: center;
  vertical-align: middle; }

body, html {
  background-color: #1f2833;
  background-image: url("../images/dark-triangles.png");
  background-blend-mode: difference;
  font-size: 1vmax;
  width: 100%;
  height: 100%;
  margin-top: 0;
  padding-top: 0;
  margin-left: 0;
  padding-left: 0;
  position: relative;
  top: 0;
  left: 0;
  left: auto;
  z-index: 2; }

a, a:hover, a:active, a:visited, a:focus {
  text-decoration: none; }

.anchor {
  display: block;
  height: 5rem;
  /*same height as header*/
  margin-top: -5rem;
  /*same height as header*/
  visibility: hidden; }

#aboutAnchor {
  height: 2rem; }

.my-navbar {
  background-color: #1f2833; }
  .my-navbar .navbar-brand {
    color: #FF4444;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2.5rem;
    cursor: pointer; }
  .my-navbar #myNavbar li a {
    color: #FF4444;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5rem;
    cursor: pointer; }
    .my-navbar #myNavbar li a:hover, .my-navbar #myNavbar li a:focus {
      background-color: #FFFFFF; }

.selectedButton {
  background-color: #FF7F51;
  color: #FFFFFF !important; }
  .selectedButton:hover, .selectedButton:focus {
    background-color: #FF7F51 !important; }

.fullBar {
  background-color: #1f2833;
  visibility: hidden; }

.title {
  width: 100%;
  height: 100%;
  text-decoration: none;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 20%; }
  .title .name {
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 0;
    font-size: 9rem;
    color: #FF4444;
    width: 80%;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-right: 0;
    position: relative;
    top: 20%;
    left: 12%; }
  .title .subTitle {
    position: relative;
    top: 20%;
    font-size: 3.5rem;
    font-family: 'Source Sans Pro', sans-serif;
    color: #FF6666; }
  .title .sender {
    cursor: pointer;
    height: 10%;
    width: 10%;
    position: absolute;
    border: none;
    top: 95%;
    right: 48%;
    text-decoration: none;
    transition: height .600s ease; }
  .title .arrow {
    width: 5%;
    max-width: 100%;
    height: auto; }

#about {
  height: 100%;
  width: 100%;
  margin-bottom: 5%; }
  #about #aboutMe {
    color: #FF4444;
    font-size: 5rem;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 0; }
  #about .elevator {
    margin-top: 0;
    padding-top: 0;
    position: relative;
    color: #FF6666;
    font-size: 1.5rem;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 200%;
    left: 20%;
    width: 60%;
    border-radius: 10%;
    padding: 5%; }
  #about .resume {
    width: 15rem;
    height: 4.6875rem;
    border-radius: 5%;
    border: none;
    background-color: #1f2833;
    padding-right: 0.78125rem;
    padding-bottom: 0.78125rem;
    position: relative;
    padding: 1rem 3rem;
    left: 43%;
    transform: scale(0.925);
    transition: 0.2s background-color ease-out, .2s border-color ease-out, .2s transform ease-out; }
    #about .resume img {
      width: 17.96875rem;
      position: relative;
      bottom: 1.75rem;
      right: 3.5rem; }
    #about .resume h2 {
      position: relative;
      font-size: 2.5rem;
      top: -7.9rem;
      right: -2.23435rem;
      color: #FFFFFF;
      font-family: 'Source Sans Pro', sans-serif;
      text-decoration: none; }
    #about .resume:hover {
      border-color: #FF4444;
      background-color: #FF4444;
      transform: scale(1); }

#stuff {
  color: #FF4444;
  font-size: 5rem;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 5% 0;
  padding: 0; }

#grid-container {
  float: none;
  margin-left: 10%;
  margin-bottom: 20%;
  display: grid;
  width: 80%;
  height: 50%;
  grid-template-areas: "education experience";
  -webkit-grid-column-gap: 3rem;
  -moz-grid-column-gap: 3rem;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  color: #FF6666;
  align-items: center;
  justify-items: center;
  padding-bottom: 5%; }
  #grid-container .overlay {
    position: fixed;
    /* Sit on top of the page content */
    display: none;
    /* Hidden by default */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    /* Black background with opacity */
    z-index: 3;
    /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
    /* Add a pointer on hover */ }
  #grid-container .infoWindow {
    z-index: 4;
    display: none;
    position: fixed;
    width: 40%;
    box-sizing: border-box;
    background-color: #FFFFFF;
    top: 30%;
    left: 30%;
    border-radius: 10%; }
    #grid-container .infoWindow .detailTitle {
      color: black;
      font-size: 2rem; }
    #grid-container .infoWindow .details {
      position: relative;
      left: 10%;
      color: #FF7F51;
      font-size: 1.5rem;
      font-family: 'Source Sans Pro', sans-serif;
      line-height: 200%;
      width: 80%; }
      #grid-container .infoWindow .details a {
        text-decoration: none !important; }
  #grid-container .section {
    padding: 0; }
    #grid-container .section #medHacks {
      grid-area: education;
      background-color: #FFFFFF;
      border-radius: 5%;
      padding: 0;
      cursor: pointer;
      width: 60%; }
    #grid-container .section #legend {
      grid-area: experience;
      padding: 0;
      margin: 0;
      border-radius: 20%;
      cursor: pointer;
      width: 90%; }

#contactMe .contactTitle {
  color: #FF4444;
  font-size: 5rem;
  font-family: 'Source Sans Pro', sans-serif;
  margin-bottom: 5%;
  padding: 0; }

#gform {
  position: absolute;
  left: 10%;
  width: 80%;
  border: 3px none #C5C6C7;
  padding-bottom: 10%; }
  #gform fieldset {
    border: none; }
    #gform fieldset label {
      color: #FF4444;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 1.5rem; }
    #gform fieldset input {
      height: 4rem;
      background-color: #1f2833; }
    #gform fieldset textarea {
      resize: none;
      height: 12rem; }
    #gform fieldset input, #gform fieldset textarea {
      font-size: 1.5rem;
      width: 80%;
      border: 3px none #C5C6C7;
      background-color: #1f2833;
      color: #FF6666;
      border-radius: 13px;
      margin: 0.3rem;
      padding: 1rem; }
  #gform button {
    cursor: pointer;
    color: #FFFFFF;
    border: none;
    font-size: 2.5rem;
    padding: 1rem 3rem;
    background-color: #1f2833;
    transform: scale(0.925);
    transition: 0.2s background-color ease-out, .2s border-color ease-out, .2s transform ease-out; }
    #gform button:hover {
      border-color: #FF4444;
      background-color: #FF4444;
      transform: scale(1); }

#thankyou_message {
  display: none; }

.email-invalid, .name-invalid {
  color: #FF7F51;
  font-size: 2rem;
  left: 150px;
  background-color: #1f2833;
  padding: 3px;
  padding-top: 0px;
  margin-left: 10rem;
  opacity: 1;
  display: none;
  width: 40%;
  border-radius: 13px; }

/*# sourceMappingURL=main.css.map */
