$box-color: #C5C6C7;
$border-color: #45A29E;

%center {
  text-align: center;
  vertical-align: middle;
}

%relative {
    position: relative;
    margin: auto;
}

%borderhover {
    border: 0.5rem solid $box-color;
    &:hover {
        border-color: $border-color;
    }
}
